/********** Template CSS **********/
:root {
    --primary: #3498db;
    --light: #EDF5FF;
    --dark: #202942;
}
.bg-custom-color {
    background-color: #d02518; /* 변경하려는 배경 색상으로 수정 */
}

/*** Spinner ***/
#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease-out, visibility 0s linear .5s;
    z-index: 99999;
}

#spinner.show {
    transition: opacity .5s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}

.back-to-top {
    position: fixed;
    display: none;
    right: 45px;
    bottom: 45px;
    z-index: 99;
}

.my-6 {
    margin-top: 6rem;
    margin-bottom: 6rem;
}

.py-6 {
    padding-top: 6rem;
    padding-bottom: 6rem;
}


/*** Heading ***/
h1,
h2,
.fw-bold {
    font-weight: 700 !important;
 }

h3,
h4,
.fw-semi-bold {
    font-weight: 600 !important;
}

h5,
h6,
.fw-medium {
    font-weight: 500 !important;
}


/*** Button ***/
.btn {
    transition: .5s;
}

.btn:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
}

.btn.btn-primary {
    color: var(--light);
}

.btn.btn-light {
    color: #0e6caaf2;
    font-weight: bold;
}
.btn-welcome{
  color: #ffffff;
  font-weight: bold;
}

.btn-square {
    width: 38px;
    height: 38px;
}

.btn-sm-square {
    width: 32px;
    height: 32px;
}

.btn-lg-square {
    width: 48px;
    height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
    border-radius: 50px;
}


/*** Navbar ***/
.navbar .dropdown-toggle::after {
    border: none;
    content: "\f067";
    font-family: "Font Awesome 5 Free";
    font-size: 10px;
    font-weight: bold;
    vertical-align: middle;
    margin-left: 8px;
}

.navbar .navbar-nav .nav-link {
    position: relative;
    margin-right: 25px;
    padding: 35px 0;
    font-weight: 500;
    color: var(--light);
    outline: none;
    transition: .5s;
}

.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link.active {
    color: var(--light);
}

.sticky-top.navbar .navbar-nav .nav-link {
    padding: 20px 0;
    color: var(--dark);
}

.sticky-top.navbar .navbar-nav .nav-link:hover,
.sticky-top.navbar .navbar-nav .nav-link.active {
    color: var(--primary);
}

.navbar .navbar-brand h1 {
    color: #FFFFFF;
}

.navbar .navbar-brand img {
    max-height: 60px;
    transition: .5s;
}

.sticky-top.navbar .navbar-brand img {
    max-height: 45px;
}

@media (max-width: 991.98px) {
    .sticky-top.navbar {
        position: relative;
        background: #FFFFFF;
    }

    .navbar .navbar-collapse {
        margin-top: 15px;
        border-top: 1px solid #DDDDDD;
    }

    .navbar .navbar-nav .nav-link,
    .sticky-top.navbar .navbar-nav .nav-link {
        padding: 10px 0;
        margin-left: 0;
        color: var(--dark);
    }

    .navbar .navbar-nav .nav-link:hover,
    .navbar .navbar-nav .nav-link.active {
        color: var(--primary);
    }

    .navbar .navbar-brand h1 {
        color: var(--primary);
    }

    .navbar-light .navbar-brand img {
        max-height: 45px;
    }
}

@media (min-width: 992px) {
    .navbar {
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        z-index: 999;
        background-color: #58a7e1;
    }
    
    .sticky-top.navbar {
        position: fixed;
        background: #FFFFFF;
    }

    .sticky-top.navbar .navbar-brand h1 {
        color: var(--primary);
    }

    .navbar .navbar-nav .nav-item .dropdown-menu {
        display: block;
        border: none;
        margin-top: 0;
        top: 150%;
        opacity: 0;
        visibility: hidden;
        transition: .5s;
    }

    .navbar .navbar-nav .nav-item:hover .dropdown-menu {
        top: 100%;
        visibility: visible;
        transition: .5s;
        opacity: 1;
    }

    .sticky-top.navbar .btn {
        color: var(--light);
        background: var(--primary);
        border-color: var(--primary);
    }
}
.navbar2{
  
}



/*** Hero Header ***/
.hero-header {
    margin-bottom: 6rem;
    padding: 9rem 0;
    background: linear-gradient(to bottom, rgb(74 160 222), rgb(255 255 255 / 70%)), url(../img/bg-bottom.png) center bottom no-repeat;
    color: white;
}

@media (max-width: 991.98px) {
    .hero-header {
        padding: 6rem 0 9rem 0;
    }
}


/*** Feature ***/
.feature-item,
.advanced-feature-item {
    height: 100%;
    transition: .5s;
}

.feature-item:hover {
    margin-top: -15px;
}

.advanced-feature-item {
    box-shadow: 0 0 45px rgba(0, 0, 0, .08);
}

.advanced-feature-item * {
    transition: .5s;
}

.advanced-feature-item:hover {
    background: var(--primary);
}

.advanced-feature-item:hover * {
    color: #FFFFFF !important;
}


/*** Process ***/
.process {
    padding: 0;
    list-style: none;
}

.process li {
    position: relative;
    display: flex;
    padding-bottom: 25px;
}

.process li::after {
    position: absolute;
    content: "";
    width: 1px;
    height: 100%;
    top: 0;
    left: 20px;
    background: var(--primary);
}

.process li:last-child {
    padding-bottom: 0;
}

.process li:last-child:after {
    display: none;
}

.process li span {
    position: relative;
    width: 40px;
    height: 40px;
    margin-right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    color: #FFFFFF;
    background: var(--primary);
    border-radius: 40px;
    z-index: 1;
}

.process li p {
    margin: 0;
}


/*** Price ***/
.price-item {
    box-shadow: 0 0 45px rgba(0, 0, 0, .08);
    transition: .5s;
}

.price-item:hover {
    margin-top: -10px;
}


/*** Testimonial ***/
.testimonial-carousel .testimonial-item {
    padding: 0 30px 30px 30px;
}

.testimonial-carousel .owl-nav {
    display: flex;
    justify-content: center;
}

.testimonial-carousel .owl-nav .owl-prev,
.testimonial-carousel .owl-nav .owl-next {
    margin: 0 12px;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--primary);
    background: var(--light);
    border-radius: 60px;
    font-size: 22px;
    transition: .5s;
}

.testimonial-carousel .owl-nav .owl-prev:hover,
.testimonial-carousel .owl-nav .owl-next:hover {
    color: #FFFFFF;
    background: var(--primary);
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
}


/*** Footer ***/
.footer {
    margin-top: 6rem;
    padding-top: 3rem;
}

.footer .btn.btn-social {
    margin-right: 5px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--light);
    border: 1px solid #858585;
    border-radius: 40px;
    transition: .3s;
}

.footer .btn.btn-social:hover {
    color: var(--primary);
    border-color: var(--light);
}

.footer .btn.btn-link {
    display: block;
    margin-bottom: 10px;
    padding: 0;
    text-align: left;
    color: #858585;
    font-weight: normal;
    transition: .3s;
}

.footer .btn.btn-link::before {
    position: relative;
    content: "\f105";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-right: 10px;
}

.footer .btn.btn-link:hover {
    letter-spacing: 1px;
    box-shadow: none;
    color: var(--light);
}

.footer .copyright {
    padding: 25px 0;
    border-top: 1px solid rgba(256, 256, 256, .1);
}

.footer .copyright a {
    color: var(--light);
}

.footer .footer-menu a {
    margin-right: 15px;
    padding-right: 15px;
    border-right: 1px solid rgba(255, 255, 255, .1);
}

.footer .footer-menu a:last-child {
    margin-right: 0;
    padding-right: 0;
    border-right: none;
}

.footer .copyright a:hover,
.footer .footer-menu a:hover {
    color: var(--secondary);
}

.custom-container{
    margin-top: 0px;
    height: 100%;
    width: 100%;
}
.custom-container-2{
  margin-top: 0px;
  height: 100%;
  display: flex;
  width: 100%;
}

.content-container {
    text-align: left;
    margin: 5% auto 0;
    margin-bottom: 1%;
  }
  
.content-tit .textset-eu {
    margin-bottom: 2rem;
    text-align: center;
    font-size: var(--fs-h6);
    font-family: var(--ff-po);
    font-weight: 500;
    color: var(--text-color4);
  }
  
.content-tit .textset-tit {
    text-align: left;
    line-height: var(--ht-lg);
    font-size: 35px;
    margin-top: 10%;
  }

.content-tit .textset-subtit {
  text-align: left;
  line-height: var(--ht-lg);
  font-size: 20px;
  color: #1f5297;
}
  
  
@media (max-width: 922px) {
     .content-container {
      margin: 5rem auto 0;
    }
  
    .content-md {
      padding: 0 1.6rem;
    }
  
    .content-tit {
      padding: 4rem 0 0;
    }
  
    .content-tit .textset-eu {
      margin-bottom: 1rem;
    }
  
    .content-tit .textset-tit {
      font-size: 3.6rem;
    }
}

/* 추천 서비스 css */
.screen {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .screen .div {
    background-color: #ffffff;
    overflow: hidden;
    width: 1440px;
    height: 1024px;
    position: relative;
  }
  
  .screen .arrow {
    position: absolute;
    width: 15px;
    height: 1px;
    top: 0;
    left: 662px;
  }
  
  .screen .navbar {
    position: absolute;
    width: 1452px;
    height: 45px;
    top: 115px;
    left: 0;
  }
  
  .screen .line {
    position: absolute;
    width: 1440px;
    height: 2px;
    top: 43px;
    left: 0;
  }
  
  .screen .overlap-group {
    position: absolute;
    width: 79px;
    height: 38px;
    top: 0;
    left: 47px;
  }
  
  .screen .text-wrapper {
    width: 79px;
    top: 0;
    left: 0;
    font-family: "Inter-SemiBold", Helvetica;
    font-weight: 600;
    color: #000000;
    font-size: 26px;
    position: absolute;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .screen .text-wrapper-2 {
    left: 471px;
    position: absolute;
    width: 79px;
    top: 0;
    font-family: "Inter-SemiBold", Helvetica;
    font-weight: 600;
    color: #000000;
    font-size: 26px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .screen .text-wrapper-3 {
    left: 160px;
    position: absolute;
    width: 79px;
    top: 0;
    font-family: "Inter-SemiBold", Helvetica;
    font-weight: 600;
    color: #000000;
    font-size: 26px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .screen .text-wrapper-4 {
    left: 273px;
    position: absolute;
    width: 79px;
    top: 0;
    font-family: "Inter-SemiBold", Helvetica;
    font-weight: 600;
    color: #000000;
    font-size: 26px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .screen .text-wrapper-5 {
    left: 392px;
    position: absolute;
    width: 79px;
    top: 0;
    font-family: "Inter-SemiBold", Helvetica;
    font-weight: 600;
    color: #000000;
    font-size: 26px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .screen .overlap {
    position: absolute;
    width: 1193px;
    height: 529px;
    top: 10%;
    left: 5%;
  }
  
  .screen .overlap-2 {
    width: 1193px;
    height: 529px;
    top: -150px;
    left: 0;
  }
  
  .screen .text-wrapper-6 {
    position: absolute;
    width: 305px;
    top: 0;
    left: 20px;
    font-family: "Inter-SemiBold", Helvetica;
    font-weight: 600;
    color: #000000;
    font-size: 29px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .screen .group {
    position: absolute;
    width: 1193px;
    height: 482px;
    top: 47px;
    left: 0;
  }
  
  .screen .overlap-3 {
    position: relative;
    width: 1189px;
    height: 482px;
    background-color: #f5fcff;
    border-radius: 15px;
    border: 1px solid;
    border-color: #8dd0ed;
  }
  .screen .overlap-3-1 {
    position: relative;
    width: 1189px;
    height: 482px;
    background-color: #f5fcff;
    border-radius: 15px;
    border: 1px solid;
    border-color: #8dd0ed;
    margin-top:10%;
  }
  .screen .overlap-group-wrapper {
    position: absolute;
    width: 481px;
    height: 53px;
    top: 45px;
    left: 55px;
  }
  
  .screen .div-wrapper {
    position: relative;
    width: 479px;
    height: 53px;
    background-color: #ffffff;
  }
  
  .screen .text-wrapper-7 {
    width: 309px;
    top: 10px;
    left: 20px;
    font-family: "Inter-Medium", Helvetica;
    font-weight: 500;
    color: #000000;
    font-size: 25px;
    position: absolute;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .screen .overlap-4 {
    position: absolute;
    width: 479px;
    height: 53px;
    top: 124px;
    left: 56px;
    background-color: #ffffff;
  }
  
  .screen .overlap-5 {
    position: absolute;
    width: 479px;
    height: 53px;
    top: 124px;
    left: 666px;
    background-color: #ffffff;
  }
  
  .screen .overlap-6 {
    position: absolute;
    width: 1091px;
    height: 242px;
    top: 214px;
    left: 56px;
  }
  
  .screen .group-2 {
    width: 1091px;
    height: 242px;
    top: 0;
    position: absolute;
    left: 0;
  }
  
  .screen .overlap-7 {
    position: absolute;
    width: 479px;
    height: 53px;
    top: 0;
    left: 0;
    background-color: #ffffff;
  }
  
  .screen .group-3 {
    width: 1091px;
    height: 151px;
    top: 91px;
    position: absolute;
    left: 0;
  }
  
  .screen .rectangle {
    width: 479px;
    height: 53px;
    left: 610px;
    position: absolute;
    top: 0;
    background-color: #ffffff;
  }
  
  .screen .group-4 {
    width: 481px;
    height: 53px;
    top: 98px;
    position: absolute;
    left: 0;
  }
  
  .screen .group-5 {
    position: absolute;
    width: 481px;
    height: 242px;
    top: 0;
    left: 610px;
  }
  
  .screen .group-6 {
    width: 481px;
    height: 141px;
    top: 101px;
    position: absolute;
    left: 0;
  }
  
  .screen .text-wrapper-8 {
    top: 0;
    position: absolute;
    width: 309px;
    left: 20px;
    font-family: "Inter-Medium", Helvetica;
    font-weight: 500;
    color: #000000;
    font-size: 25px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .screen .group-7 {
    width: 481px;
    height: 53px;
    top: 88px;
    position: absolute;
    left: 0;
  }
  
  .screen .overlap-wrapper {
    position: absolute;
    width: 481px;
    height: 53px;
    top: 45px;
    left: 665px;
  }
  
  .screen .text-wrapper-9 {
    width: 459px;
    top: 0;
    left: 60%;
    font-family: "Inter-SemiBold", Helvetica;
    font-weight: 600;
    color: #000000;
    font-size: 27px;
    position: absolute;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .screen .group-8 {
    position: absolute;
    width: 1189px;
    height: 152px;
    top: 211px;
    left: 5%;
  }
  
  .screen .overlap-8 {
    position: relative;
    width: 1191px;
    height: 152px;
  }
  
  .screen .group-9 {
    position: absolute;
    width: 1191px;
    height: 152px;
    top: 0;
    left: 0;
  }
  
  .screen .overlap-9 {
    position: relative;
    width: 1189px;
    height: 152px;
    background-color: #ffffff;
    border-radius: 10px;
    border: 1px solid;
    border-color: #8dd0ed;
  }
  
  .screen .group-10 {
    position: absolute;
    width: 282px;
    height: 43px;
    top: 25px;
    left: 46px;
  }
  
  .screen .overlap-group-2 {
    position: absolute;
    width: 147px;
    height: 43px;
    top: 0;
    left: 131px;
    background-color: #ffffff;
    border: 1px solid;
    border-color: #8dd0ed;
  }
  
  .screen .text-wrapper-10 {
    width: 105px;
    top: 5px;
    left: 20px;
    font-family: "Inter-Medium", Helvetica;
    font-weight: 500;
    color: #878787;
    font-size: 25px;
    position: absolute;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .screen .text-wrapper-11 {
    width: 102px;
    top: 4px;
    left: 0;
    font-family: "Inter-Medium", Helvetica;
    font-weight: 500;
    color: #000000;
    font-size: 25px;
    position: absolute;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .screen .text-wrapper-12 {
    width: 159px;
    top: 35px;
    left: 568px;
    font-family: "Inter-Medium", Helvetica;
    font-weight: 500;
    color: #000000;
    font-size: 25px;
    position: absolute;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .screen .group-11 {
    position: absolute;
    width: 334px;
    height: 43px;
    top: 88px;
    left: 46px;
  }
  
  .screen .overlap-10 {
    position: absolute;
    width: 199px;
    height: 43px;
    top: 0;
    left: 131px;
  }
  
  .screen .rectangle-2 {
    width: 147px;
    height: 43px;
    left: 0;
    border: 1px solid;
    border-color: #8dd0ed;
    position: absolute;
    top: 0;
    background-color: #ffffff;
  }
  
  .screen .text-wrapper-13 {
    width: 156px;
    top: 8px;
    left: 43px;
    font-family: "Inter-Medium", Helvetica;
    font-weight: 500;
    color: #878787;
    font-size: 25px;
    position: absolute;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .screen .group-12 {
    position: absolute;
    width: 578px;
    height: 43px;
    top: 84px;
    left: 568px;
  }
  
  .screen .element-wrapper {
    position: absolute;
    width: 407px;
    height: 43px;
    top: 0;
    left: 167px;
    background-color: #ffffff;
    border: 1px solid;
    border-color: #8dd0ed;
  }
  
  .screen .element {
    width: 307px;
    top: 3px;
    left: 49px;
    font-family: "Inter-Medium", Helvetica;
    font-weight: 500;
    color: transparent;
    font-size: 25px;
    position: absolute;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .screen .span {
    color: #878787;
  }
  
  .screen .text-wrapper-14 {
    color: #000000;
  }
  
  .screen .text-wrapper-15 {
    width: 154px;
    top: 4px;
    left: 0;
    font-family: "Inter-Medium", Helvetica;
    font-weight: 500;
    color: #000000;
    font-size: 25px;
    position: absolute;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .screen .group-13 {
    position: absolute;
    width: 442px;
    height: 59px;
    top: 28px;
    left: 729px;
  }
  
  .screen .text-wrapper-16 {
    width: 63px;
    top: 24px;
    left: 375px;
    font-family: "Inter-Medium", Helvetica;
    font-weight: 500;
    color: #878787;
    font-size: 25px;
    position: absolute;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .screen .text-wrapper-17 {
    width: 63px;
    top: 19px;
    left: 0;
    font-family: "Inter-Medium", Helvetica;
    font-weight: 500;
    color: #878787;
    font-size: 25px;
    position: absolute;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .screen .group-14 {
    position: absolute;
    width: 392px;
    height: 17px;
    top: 0;
    left: 14px;
  }
  
  .screen .overlap-group-3 {
    position: relative;
    height: 17px;
  }
  
  .screen .img {
    position: absolute;
    width: 377px;
    height: 4px;
    top: 6px;
    left: 8px;
  }
  
  .screen .ellipse {
    top: 0;
    left: 0;
    background-color: #8dd0ed;
    position: absolute;
    width: 14px;
    height: 14px;
    border-radius: 7px;
  }
  
  .screen .ellipse-2 {
    top: 3px;
    left: 378px;
    background-color: #374bff;
    position: absolute;
    width: 14px;
    height: 14px;
    border-radius: 7px;
  }
  
  .screen .ellipse-3 {
    top: 2px;
    left: 126px;
    background-color: #8dd0ed;
    position: absolute;
    width: 14px;
    height: 14px;
    border-radius: 7px;
  }
  
  .screen .ellipse-4 {
    top: 2px;
    left: 252px;
    background-color: #8dd0ed;
    position: absolute;
    width: 14px;
    height: 14px;
    border-radius: 7px;
  }
  

/*게시판 변경 css */

.pagiset {
    margin-top: 4em;
    font-family: var(--ff-en);
    font-weight: 400;
    text-align: center;
  }
  .pagiset-list {
    margin-top: 1rem;
    font-family: var(--ff-en);
    font-weight: 400;
    text-align: center;
  }
  .pagiset-link {
    padding: 0.5rem 1rem; /* 숫자 주변에 여백을 추가합니다 */
    margin: 0 0.2rem; /* 각 숫자 사이의 간격을 설정합니다 */
    text-decoration: none;
    color: #000; /* 숫자의 텍스트 색상을 지정합니다 */
    border: 1px solid #ccc; /* 테두리 스타일을 추가합니다 */
    border-radius: 5px; /* 테두리의 모서리를 둥글게 만듭니다 */
    transition: background-color 0.3s; /* 호버 효과의 부드러운 전환을 위한 설정 */
  }
  
  .pagiset-link.active-line {
    background-color: #3498db; /* 활성화된 숫자의 배경 색상을 지정합니다 */
    color: #fff; /* 활성화된 숫자의 텍스트 색상을 지정합니다 */
  }
  
  .pagiset-link:hover {
    background-color: #f5f5f5; /* 호버 시 배경 색상을 지정합니다 */
  }

  .pagiset-ctrl {
    display: flex;
  }
  
  .pagiset-ctrl:first-child {
    margin-right: auto; /* 처음 버튼을 오른쪽으로 이동시킵니다 */
  }
  
  .pagiset-ctrl:last-child {
    margin-left: auto; /* 마지막 버튼을 왼쪽으로 이동시킵니다 */
  }
hr {
    margin: auto;
    margin-top: 10%;
    width: 40%;
}


/* 대쉬보드 css 변경사항 */

#popup {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .7);
  z-index: 1;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}

#popup.hide {
  display: none;
}

#popup .content {
  padding: 20px;
  background: #fff;
  border-radius: 5px;
}
.title-notice{
  text-align: center;
  margin-top: 13%;
}
.input-file {
  display: inline-block;
}

.input-file [type="file"] {
  position: absolute;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  border: 0 none;
}
.input-file .file-label {
  display: inline-block;
  min-width: 53px;
  height: 27px;
  line-height: 24px;
  padding: 0 10px;
  border-radius: 2px;
  font-size: 13px;
  background-color: #333;
  color: #fff;
  text-align: center;
  left: -57%;
}
.input-file .file-name {
  width: 300px;
  background: #f5f5f5;
  height: 27px;
  line-height: 26px;
  text-indent: 5px;
  border: 1px solid #bbb;
}

/* 접근성 탭 포커스 스타일 */
/* input file type */
.input-file {
  display: flex;
  justify-content: flex-end;
  margin-right: 5%;
}

.input-file [type="file"] {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0 none;
}
.input-file .file-label {
  display: inline-block;
  min-width: 53px;
  height: 80px;
  line-height: 24px;
  padding: 0 10px;
  border-radius: 15px;
  font-size: 20px;
  background-color: #3498db;
  color: #fff;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  cursor: pointer;
  width: 20%;
}

.input-file .file-name {
  width: 300px;
  background: #f5f5f5;
  height: 27px;
  line-height: 26px;
  text-indent: 5px;
  border: 1px solid #bbb;
  
}
.create{
  height: 35px;
    width: 100px;
    background-color: #3498db;
    font-size: 17px;
    border-radius: 10px;
    position: relative;
    color: #ffffff;
    border: none;
    padding: 5px;
    /* margin-right: 5%; */
    transition: background-color 0.5s;
}
.create-write{
    background-color: #3498db;
    font-size: 17px;
    border-radius: 10px;
    position: relative;
    color: #ffffff;
    border: none;
    padding: 5px;
    /* margin-right: 5%; */
    transition: background-color 0.5s;
    height: 34.89;
}
.back{
  background-color: #3498db;
  height: 34.89;
  font-size: 20px;
  margin-right: 10px;
  border-radius: 10px;
  border: none; 
  color: #ffffff;
  font-size: 17px;
}
.create:hover, .back:hover {
  background-color: #267bb3; /* hover 시 색상 변경 */
} 
.input-file .file-label:hover{
  background-color: #267bb3; /* hover 시 색상 변경 */
}
.box{
  color: #267bb3;
  flex: auto;
}
.box-container {
  margin-right: 100px;
  display: flex;
  background-color: #f0faff;
  width: 45%;
  height: 500px;
  padding: 2%;
  border-radius: 10px;
  color: #000;
  text-overflow: ellipsis;
  overflow: hidden;
  position: relative;
  margin-top: 10%
}
.box-container p-1 {
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 17px;
  padding: 5%;
  text-align: justify;
  margin-top: 12%
}
.card-chat-bot{
  height: 100%;
}
.p-1{
  margin-top: 0px;
  text-overflow: ellipsis;

}

.box-container-2 {
  width: 45%;
  height: 800px;
  margin-top: 10%;
  /* background-color: #2320da; */
}
.summary-chat{
  background-color: #2320da;
  width: 10px;
  height: 10px;
}
.contents{
  height: 661.55px;
  height: 100%;
}
.report-chat{
  height: 350px;
  border: 1px solid #f4f4f4;
}
.send-report{
  max-height: 100%;
  max-width: 100%;
  display: flex;
}
.send-text-report{
  font-size: 15px;
  padding: 8px 16px;
  transition: background-color 0.3s;
  margin-right: 3%;
  max-width: 78%;
  max-height: 200px;
  width: 78%;
  resize: none;
  overflow-y: hidden;
  border-color: #c5c5c5;
  border-radius: 10px;
  margin-bottom: 3%;
  margin-left: 3%;
}
.report-btn{
  border-radius: 10%;
    background-color: rgb(0 123 255);
    color: #fff;
    padding: 8px 16px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    height: 63px;
}
h-report-title {
  font-size: 30px; /* 원하는 글자 크기로 조절합니다. */
  color: #32325d;
  font-weight: bold;
  font-family: inherit;
  line-height: 1.5;
  margin-left: 26%;
  height: 100vh;
}
.textset-tit-b{
    font-size: 25px;
    width: 15%;
    height: 10%;
    margin-bottom: 10%;
    background: none;
    border-color: #dee2e6;
    border-radius: 15px;
    padding: 11px;
    transition: background-color 0.5s;
}
.textset-tit-b:hover {
  color: white; /* 마우스를 올렸을 때의 텍스트 색상 변경 (원하는 스타일로 수정 가능) */
  background-color: #3498db;
}

.report-font{
  color: #000;
  text-decoration: none;
}

.report-title {
  position: absolute;
  top: 3%;
  font-size: 30px;
  color: #32325d;
  font-weight: bold;
  line-height: 1.5;
  left: 22%;  
}
/* 아래의 모든 코드는 영역::코드로 사용 */
.pop-summary::-webkit-scrollbar,
.scrollbar::-webkit-scrollbar {
  width: 15px; /* 스크롤바의 너비 */
}

.pop-summary::-webkit-scrollbar-thumb,
.scrollbar::-webkit-scrollbar-thumb {
  height: 30%; /* 스크롤바의 길이 */
  background: #217af4; /* 스크롤바의 색상 */
  border-radius: 7px;
}

.pop-summary::-webkit-scrollbar-track,
.scrollbar::-webkit-scrollbar-track {
  background: rgba(33, 122, 244, .1); /* 스크롤바 뒷 배경 색상 */
}

.tableset-inner{
  margin-bottom:25%;
  margin-top:3%;
}
.create2{
  height: 35px;
  width: 100px;
  background-color: #3498db;
  font-size: 17px;
  border-radius: 10px;
  position: relative;
  color: #ffffff;
  border: none;
  padding: 5px;
  /* margin-right: 5%; */
  transition: background-color 0.5s;
  left: 92%;
}
.group10{
  margin-top:15%;
}
.title-3{
  width: 95%;
}
.reply{
  font-size: 100px;
}