{% load socialaccount %}
{% load static %}
<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="utf-8">
    <title>Hey 금융</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link href="{% static 'img/favicon.ico' %}" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600;700&display=swap" rel="stylesheet"> 

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="{% static 'lib/animate/animate.min.css' %}" rel="stylesheet">
    <link href="{% static 'lib/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
</head>

<body class='scrollbar'>
    <div class="container-xxl bg-white p-0">
        <!-- Spinner Start -->
        <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
            <div class="spinner-grow text-primary" style="width: 3rem; height: 3rem;" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <!-- Spinner End -->


        <!-- Navbar & Hero Start -->
        <div class="container-xxl position-relative p-0" id="home">
            <nav class="navbar navbar-expand-lg navbar-light px-4 px-lg-5 py-3 py-lg-0">
                <a href="#main" class="navbar-brand p-0">
                    <h1 class="m-0">Hey, 금융</h1>
                    <!-- <img src="img/logo.png" alt="Logo"> -->
                </a>
                <button class="navbar-toggler rounded-pill" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <div class="navbar-nav mx-auto py-0">
                        <a href="#about" class="nav-item nav-link">서비스 소개</a>
                        <a href="/summary" class="nav-item nav-link">요약서비스</a>
                        <a href="/report" class="nav-item nav-link">금융 리포트</a>
                        <a href="/quiz" class="nav-item nav-link">금융 퀴즈</a>
                        <a href="/simulation/?param=삼성전자" class="nav-item nav-link">모의 투자</a>
                        <a href="/board" class="nav-item nav-link">게시판</a>
                    </div>
                    {% comment %} <a href="#pricing" class="btn btn-light rounded-pill py-2 px-4 ms-3 d-none d-lg-block">구독하기</a> {% endcomment %}
                    <!-- 로그인 페이지로 이동하는 버튼 -->
                    {% if not user.is_authenticated %}
                        <a href="/accounts/signup" class="btn btn-light rounded-pill py-2 px-4 ms-3 d-none d-lg-block">회원가입</a>
                        <a href="/accounts/login" class="btn btn-light rounded-pill py-2 px-4 ms-3 d-none d-lg-block">로그인</a>
                    {% else %}
                        <a href="#"id="username" class="btn-welcome py-2 px-4 ms-3 d-none d-lg-block">{{user.name}}님 반갑습니다.</a>
                        {% comment %} <a href="#" class="btn btn-light rounded-pill py-2 px-4 ms-3 d-none d-lg-block">프로필</a> </li>  {% endcomment %}
                        <a href="/accounts/logout?next={{request.path}}" class="btn btn-light rounded-pill py-2 px-4 ms-3 d-none d-lg-block">로그 아웃</a></li>
                        <!--?next={{request.path}}는 현재 path값을 같이 넘겨주어서 로그아웃 한 다음 현재 path로 리다이렉트된다.-->
                        {% comment %} <a href="{% url 'quiz:quiz-list' %}" class="btn btn-light rounded-pill py-2 px-4 ms-3 d-none d-lg-block">퀴즈</a></li> {% endcomment %}
                    {% endif %}
                    

                    
                </div>
            </nav>

            <div class="container-xxl bg-primary hero-header", id="main">
                <div class="container">
                    <div class="row g-5 align-items-center">
                        <div class="col-lg-6 text-center text-lg-start">
                            <h1 class="text-white mb-4 animated slideInDown">Hey, 금융</h1>
                            <p class="text-white pb-3 animated slideInDown">AI가 설명해주는 금융 정보 요약 플랫폼</p>
                            <div class="position-relative w-100 mt-3">
                                <input class="form-control border-0 rounded-pill w-100 ps-4 pe-5" type="text" placeholder="이메일을 입력하세요" style="height: 58px;">
                                <a href="#pricing"  class="btn btn-primary rounded-pill py-2 px-3 shadow-none position-absolute top-0 end-0 m-2">구독하기</a>
                            </div>
                        </div>
                        <div class="col-lg-6 text-center text-lg-start">
                            <img class="img-fluid rounded animated zoomIn" src="{% static 'img/hero.jpg' %}" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Navbar & Hero End -->


        <!-- About Start -->
        <div class="container-xxl py-6" id="about">
            <div class="container">
                <div class="row g-5 flex-column-reverse flex-lg-row">
                    <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                        <h1 class="mb-4">AI 금융 파트너<br>시장 인사이트를 쉽게</h1>
                        <p class="mb-4">정확하고 신속한 금융 정보를 요약하여 금융 입문자에게 더 효율적이고 투명한 의사결정을 제공할 것입니다.</p>
                        <div class="d-flex mb-4">
                            <div class="flex-shrink-0 btn-square rounded-circle bg-primary text-white">
                                <i class="fa fa-check"></i>
                            </div>
                            <div class="ms-4">
                                <h5>뉴스 AI요약 서비스</h5>
                                <p class="mb-0">다양한 소스의 뉴스를 습득하고, 핵심 정보에 초점을 맞춘 효율적인 이해를 제공하여 빠른 시간 내에 다양한 뉴스 토픽에 대한 폭넓은 통찰력을 제공합니다.</p>
                            </div>
                        </div>
                        <div class="d-flex mb-4">
                            <div class="flex-shrink-0 btn-square rounded-circle bg-primary text-white">
                                <i class="fa fa-check"></i>
                            </div>
                            <div class="ms-4">
                                <h5>재무제표 AI요약 서비스</h5>
                                <p class="mb-0">복잡한 기업명이나 어려운 회계용어를 챗봇과의 대화를 통해 이해하기 쉽고 정확하게 제공하는 데 강점이 있습니다.</p>
                            </div>
                        </div>
                        <div class="d-flex mb-4">
                            <div class="flex-shrink-0 btn-square rounded-circle bg-primary text-white">
                                <i class="fa fa-check"></i>
                            </div>
                            <div class="ms-4">
                                <h5>금융 리포트 AI요약 서비스</h5>
                                <p class="mb-0">금융 리포트의 효율적인 요약은 시간을 절약하면서도 핵심 정보를 빠르게 이해하고 활용할 수 있는 기회를 제공하여 도메인에 대한 폭넓은 지식을 얻을 수 있습니다.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <img class="img-fluid rounded wow zoomIn" data-wow-delay="0.5s" src="{% static 'img/hero.jpg' %}">
                    </div>
                </div>
            </div>
        </div>
        <!-- About End -->


        <!-- Overview Start -->
        <div class="container-xxl bg-light my-6 py-5" id="overview">
            <div class="container">
                <div class="row g-5 py-5 align-items-center">
                    <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                        <img class="img-fluid rounded" src="{% static 'img/gold.png' %}">
                    </div>
                    <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
                        <div class="d-flex align-items-center mb-4">
                            <h1 class="mb-0">01</h1>
                            <span class="bg-primary mx-2" style="width: 30px; height: 2px;"></span>
                            <h5 class="mb-0">재무 분석 및 AI 요약 (feat 금, 환율)  </h5>
                        </div>
                        <p class="mb-4">정확하고 신속한 금융 정보를 요약하여 빠르게 변화하는 금융 시장에서 신중하고 효과적인 방식으로 정보를 활용하는 데 도움이 됩니다.</p>
                        <p><i class="fa fa-check-circle text-primary me-3"></i>데이터 시각화 제공</p>
                        <p><i class="fa fa-check-circle text-primary me-3"></i>금융 입문자 맞춤 언어 제공</p>
                        <p class="mb-0"><i class="fa fa-check-circle text-primary me-3"></i>효과적인 분석 및 요약</p>
                    </div>
                </div>
                <div class="row g-5 py-5 align-items-center flex-column-reverse flex-lg-row">
                    <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
                        <div class="d-flex align-items-center mb-4">
                            <h1 class="mb-0">02</h1>
                            <span class="bg-primary mx-2" style="width: 30px; height: 2px;"></span>
                            <h5 class="mb-0">금융 리포트 요약</h5>
                        </div>
                        <p class="mb-4">금융 리포트를 통해 경제 전망에 대한 심층적인 통찰력을 얻을 수 있습니다. 또한 시장 동향, 리스크 요인, 경제 전망 예측 등에 대한 중요한 정보를 파악하는데에도 도움이 됩니다.</p>
                        <p><i class="fa fa-check-circle text-primary me-3"></i>효과적으로 핵심 내용 전달</p>
                        <p><i class="fa fa-check-circle text-primary me-3"></i>챗봇과의 대화</p>
                        <p class="mb-0"><i class="fa fa-check-circle text-primary me-3"></i>경제 전망 예측</p>
                    </div>
                    <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                        <img class="img-fluid rounded" src="{% static 'img/report.png' %}">
                    </div>
                </div>
                <div class="row g-5 py-5 align-items-center">
                    <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="image-container">
                            <img class="img-fluid rounded" src="{% static 'img/quiz.png' %}" style=" border: 5px solid white;">
                        </div>
                    </div>
                    <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
                        <div class="d-flex align-items-center mb-4">
                            <h1 class="mb-0">03</h1>
                            <span class="bg-primary mx-2" style="width: 30px; height: 2px;"></span>
                            <h5 class="mb-0">금융 상식 퀴즈</h5>
                        </div>
                        <p class="mb-4">금융 상식 퀴즈을 통해 금융 지식을 습득하고 반복학습의 효과를 통해 지속적인 금융 교육의 기초를 제공하여 효과적으로 이해할 수 있도록 도와줍니다.</p>
                        <p><i class="fa fa-check-circle text-primary me-3"></i>금융 지식 습득</p>
                        <p><i class="fa fa-check-circle text-primary me-3"></i>반복학습의 효과</p>
                        <p class="mb-0"><i class="fa fa-check-circle text-primary me-3"></i>금융 교육의 기초 제공</p>
                    </div>
                    <div class="row g-5 py-5 align-items-center flex-column-reverse flex-lg-row">
                        <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
                            <div class="d-flex align-items-center mb-4">
                                <h1 class="mb-0">04</h1>
                                <span class="bg-primary mx-2" style="width: 30px; height: 2px;"></span>
                                <h5 class="mb-0">모의투자</h5>
                            </div>
                            <p class="mb-4">모의투자를 통해 투자에 대한 경험과 지식을 쌓고, 금전적 리스크 없이 투자 활동을 실습할 수 있습니다. 이러한 경험은 실제 투자를 시작하기 전에 실수를 방지하는 데 도움이 됩니다.</p>
                            <p><i class="fa fa-check-circle text-primary me-3"></i>투자 경험 쌓기</p>
                            <p><i class="fa fa-check-circle text-primary me-3"></i>자금 손실 방지</p>
                            <p class="mb-0"><i class="fa fa-check-circle text-primary me-3"></i>포트폴리오 관리</p>
                        </div>
                        <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                            <img class="img-fluid rounded" src="{% static 'img/simulation.png' %}">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Overview End -->


        <!-- Advanced Feature Start -->
        <div class="container-xxl py-6" id="features">
            <div class="container">
                <div class="mx-auto text-center wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
                    <h1 class="mb-3">다양한 금융 데이터와 AI 지원</h1>
                    <p class="mb-5">
                        Hey, 금융은 다양한 금융 데이터와 AI 기반 요약을 통해 금융 입문자들이 복잡한 금융 용어를 쉽게 이해하고 신속한 정보를 얻을 수 있게 지원합니다.</p>
                </div>
                <div class="row g-4">
                    <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="advanced-feature-item text-center rounded py-5 px-4">
                            <i class="fa fa-edit fa-3x text-primary mb-4"></i>
                            <h5 class="mb-3">데이터의 다양성</h5>
                            <p class="m-0">
                                재무제표, 리포트, 환율 등 다양한 정보를 제공하여 투자자들에게 효과적이고 포괄적인 정보를 제공합니다.</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                        <div class="advanced-feature-item text-center rounded py-5 px-4">
                            <i class="fa fa-sync fa-3x text-primary mb-4"></i>
                            <h5 class="mb-3">빠른 정보 전달</h5>
                            <p class="m-0">금융 뉴스와 리포트 요약으로 신속하게 정리하여 투자에 필요한 핵심 정보를 빠르게 전달합니다.</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                        <div class="advanced-feature-item text-center rounded py-5 px-4">
                            <i class="fa fa-laptop fa-3x text-primary mb-4"></i>
                            <h5 class="mb-3">챗봇과 대화</h5>
                            <p class="m-0">챗봇을 통해 이해하기 어려운 금융 용어을 질문을 쉽게 이해 할 수 있습니다.</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.7s">
                        <div class="advanced-feature-item text-center rounded py-5 px-4">
                            <i class="fa fa-draw-polygon fa-3x text-primary mb-4"></i>
                            <h5 class="mb-3">데이터 시각화</h5>
                            <p class="m-0">핵심적인 재무 정보를 그래픽 요소나 차트 등을 활용하여 명확하게 표현하고 이해하기 쉽게 전달합니다.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Advanced Feature End -->


        {% comment %} <!-- Facts Start -->
        <div class="container-xxl bg-primary my-6 py-6 wow fadeInUp" data-wow-delay="0.1s">
            <div class="container">
                <div class="row g-4">
                    <div class="col-md-6 col-lg-3 text-center wow fadeIn" data-wow-delay="0.1s">
                        <i class="fa fa-cogs fa-3x text-white mb-3"></i>
                        <h1 class="mb-2" data-toggle="counter-up">33</h1>
                        <p class="text-white mb-0">설치</p>
                    </div>
                    <div class="col-md-6 col-lg-3 text-center wow fadeIn" data-wow-delay="0.3s">
                        <i class="fa fa-users fa-3x text-white mb-3"></i>
                        <h1 class="mb-2" data-toggle="counter-up">11</h1>
                        <p class="text-white mb-0">사용자의 소감</p>
                    </div>
                    <div class="col-md-6 col-lg-3 text-center wow fadeIn" data-wow-delay="0.5s">
                        <i class="fa fa-certificate fa-3x text-white mb-3"></i>
                        <h1 class="mb-2" data-toggle="counter-up">80</h1>
                        <p class="text-white mb-0">설문 조사</p>
                    </div>
                    <div class="col-md-6 col-lg-3 text-center wow fadeIn" data-wow-delay="0.7s">
                        <i class="fa fa-quote-left fa-3x text-white mb-3"w></i>
                        <h1 class="mb-2" data-toggle="counter-up">17</h1>
                        <p class="text-white mb-0">사용자의 후기</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- Facts End --> {% endcomment %}


        <!-- Process Start --> 
        <!-- Process End -->


        <!-- Pricing Start -->
        <div class="container-xxl py-6" id="pricing">
            <div class="container">
                <div class="mx-auto text-center wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
                    <h1 class="mb-3">추천드리는 구독 서비스</h1>
                    <p class="mb-5">원하시는 서비스에 맞춰 이용권을 추천드립니다.</p>
                </div>
                <div class="row g-4">
                    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="price-item rounded overflow-hidden">
                            <div class="bg-dark p-4">
                                <h4 class="text-white mt-2">Basic</h4>
                                <div class="text-white">
                                    <span class="align-top fs-4 fw-bold"></span>
                                    <h1 class="d-inline display-6 text-primary mb-0"> FREE</h1>
                                    <span class="align-baseline">/ 월</span>
                                </div>
                            </div>
                            <div class="p-4">
                                <div class="d-flex justify-content-between mb-3"><span>뉴스 기사 요약</span><i class="fa fa-check text-success pt-1"></i></div>
                                <div class="d-flex justify-content-between mb-3"><span>금융 상식 퀴즈</span><i class="fa fa-check text-success pt-1"></i></div>
                                <div class="d-flex justify-content-between mb-3"><span>AI 재무 제표 분석</span><i class="fa fa-check text-success pt-1"></i></div>
                                <div class="d-flex justify-content-between mb-3"><span>AI 환율과 금 분석</span><i class="fa fa-times text-danger pt-1"></i></div>
                                <div class="d-flex justify-content-between mb-3"><span>금융 리포트</span><i class="fa fa-times text-danger pt-1"></i></div>
                                <div class="d-flex justify-content-between mb-3"><span>AI 챗봇 대화</span><i class="fa fa-times text-danger pt-1"></i></div>
                                <div class="d-flex justify-content-between mb-3"><span>모의 투자</span><i class="fa fa-times text-danger pt-1"></i></div>
                                <a href="" class="btn btn-dark rounded-pill py-2 px-4 mt-3">시작하기</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                        <div class="price-item rounded overflow-hidden">
                            <div class="bg-primary p-4">
                                <h4 class="text-white mt-2">Premium</h4>
                                <div class="text-white">
                                    <span class="align-top fs-4 fw-bold">￦</span>
                                    <h1 class="d-inline display-6 text-dark mb-0"> 4,900</h1>
                                    <span class="align-baseline">/ 월</span>
                                </div>
                            </div>
                            <div class="p-4">
                                <div class="d-flex justify-content-between mb-3"><span>뉴스 기사 요약</span><i class="fa fa-check text-success pt-1"></i></div>
                                <div class="d-flex justify-content-between mb-3"><span>금융 상식 퀴즈</span><i class="fa fa-check text-success pt-1"></i></div>
                                <div class="d-flex justify-content-between mb-3"><span>AI 재무 제표 분석</span><i class="fa fa-check text-success pt-1"></i></div>
                                <div class="d-flex justify-content-between mb-3"><span>AI 환율과 금 분석</span><i class="fa fa-check text-success pt-1"></i></div>
                                <div class="d-flex justify-content-between mb-3"><span>금융 리포트</span><i class="fa fa-check text-success pt-1"></i></div>
                                <div class="d-flex justify-content-between mb-3"><span>AI 챗봇 대화</span><i class="fa fa-check text-success pt-1"></i></div>
                                <div class="d-flex justify-content-between mb-3"><span>모의 투자</span><i class="fa fa-check text-success pt-1"></i></div>
                                <a href="" class="btn btn-primary rounded-pill py-2 px-4 mt-3">시작하기</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                        <div class="price-item rounded overflow-hidden">
                            <div class="bg-dark p-4">
                                <h4 class="text-white mt-2">Standard</h4>
                                <div class="text-white">
                                    <span class="align-top fs-4 fw-bold">￦</span>
                                    <h1 class="d-inline display-6 text-primary mb-0">2,900</h1>
                                    <span class="align-baseline">/ 월</span>
                                </div>
                            </div>
                            <div class="p-4">
                                <div class="d-flex justify-content-between mb-3"><span>뉴스 기사 요약</span><i class="fa fa-check text-success pt-1"></i></div>
                                <div class="d-flex justify-content-between mb-3"><span>금융 상식 퀴즈</span><i class="fa fa-check text-success pt-1"></i></div>
                                <div class="d-flex justify-content-between mb-3"><span>AI 재무 제표 분석</span><i class="fa fa-check text-success pt-1"></i></div>
                                <div class="d-flex justify-content-between mb-3"><span>AI 환율과 금 분석</span><i class="fa fa-check text-success pt-1"></i></div> 
                                <div class="d-flex justify-content-between mb-3"><span>금융 리포트</span><i class="fa fa-check text-success pt-1"></i></div>
                                <div class="d-flex justify-content-between mb-3"><span>AI 챗봇 대화</span><i class="fa fa-times text-danger pt-1"></i></div>
                                <div class="d-flex justify-content-between mb-3"><span>모의 투자</span><i class="fa fa-times text-danger pt-1"></i></div>
                                <a href="" class="btn btn-dark rounded-pill py-2 px-4 mt-3">시작하기</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Pricing End -->


        <!-- Testimonial Start -->
        <div class="container-xxl py-6" id="testimonial">
            <div class="container">
                <div class="mx-auto text-center wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
                    <h1 class="mb-3"> 개발자의 소감 한마디 </h1>
                </div>
                <div class="owl-carousel testimonial-carousel wow fadeInUp" data-wow-delay="0.1s">
                    <div class="testimonial-item bg-light rounded my-4">
                        <p class="fs-5"><i class="fa fa-quote-left fa-4x text-primary mt-n4 me-3"></i>좋은 팀원들과 멋있게 프로젝트를 마무리할 수 있어서 너무 뜻깊은 경험이었습니다. </p>
                        <div class="d-flex align-items-center">
                            <img class="img-fluid flex-shrink-0 rounded-circle" src="{% static 'img/pjs.png'%}" style="width: 65px; height: 65px;">
                            <div class="ps-4">
                                <h5 class="mb-1">박종석</h5>
                            </div>
                        </div>
                    </div>
                    <div class="testimonial-item bg-light rounded my-4">
                        <p class="fs-5"><i class="fa fa-quote-left fa-4x text-primary mt-n4 me-3"></i>팀원들과의 소통을 통해 부족한 개발 역량을 채우며 프로젝트를 성공적으로 마칠 수 있었던 좋은 경험이었습니다.</p>
                        <div class="d-flex align-items-center">
                            <img class="img-fluid flex-shrink-0 rounded-circle" src="{% static 'img/lws.jpg'%}" style="width: 65px; height: 65px;">
                            <div class="ps-4">
                                <h5 class="mb-1">이우상</h5>
                            </div>
                        </div>
                    </div>
                    <div class="testimonial-item bg-light rounded my-4">
                        <p class="fs-5"><i class="fa fa-quote-left fa-4x text-primary mt-n4 me-3"></i>한 달 동안의 프로젝트 기간 동안 팀원들과 함께 성장할 수 있는 소중한 시간이었습니다. 모두들 수고 많으셨습니다</p>
                        <div class="d-flex align-items-center">
                            <img class="img-fluid flex-shrink-0 rounded-circle" src="{% static 'img/kjj.png'%}" style="width: 65px; height: 65px;">
                            <div class="ps-4">
                                <h5 class="mb-1">김정준</h5>
                            </div>
                        </div>
                    </div>
                    <div class="testimonial-item bg-light rounded my-4">
                        <p class="fs-5"><i class="fa fa-quote-left fa-4x text-primary mt-n4 me-3"></i>팀원들과의 이심전심으로 프로젝트를 완주할 수 있었으며, 앞으로의 개발 프로젝트에 대해 자신감을 가질 수 있을 것 같다.</p>
                        <div class="d-flex align-items-center">
                            <img class="img-fluid flex-shrink-0 rounded-circle" src="{% static 'img/ljs.png'%}" style="width: 65px; height: 65px;">
                            <div class="ps-4">
                                <h5 class="mb-1">이종섭</h5>
                            </div>
                        </div>
                    </div>
                    <div class="testimonial-item bg-light rounded my-4">
                        <p class="fs-5"><i class="fa fa-quote-left fa-4x text-primary mt-n4 me-3"></i>한 달 동안의 프로젝트 기간 동안 팀원들과 함께 성장할 수 있는 소중한 시간이었습니다. 모두들 수고 많으셨습니다</p>
                        <div class="d-flex align-items-center">
                            <img class="img-fluid flex-shrink-0 rounded-circle" src="{% static 'img/khy.png'%}" style="width: 65px; height: 65px;">
                            <div class="ps-4">
                                <h5 class="mb-1">김혜인</h5>
                            </div>
                        </div>
                    </div>
                    <div class="testimonial-item bg-light rounded my-4">
                        <p class="fs-5"><i class="fa fa-quote-left fa-4x text-primary mt-n4 me-3"></i>한 달 동안의 프로젝트 기간 동안 팀원들과 함께 성장할 수 있는 소중한 시간이었습니다. 모두들 수고 많으셨습니다</p>
                        <div class="d-flex align-items-center">
                            <img class="img-fluid flex-shrink-0 rounded-circle" src="{% static 'img/rdh.png'%}" style="width: 65px; height: 65px;">
                            <div class="ps-4">
                                <h5 class="mb-1">류다현</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Testimonial End -->


        <!-- Contact Start -->
        <div class="container-xxl py-6" id="contact">
            <div class="container">
                <div class="row g-5">
                    <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                        <h1 class="mb-3">문의사항</h1>
                        <p class="mb-4">문의하실 내용을 자세히 적어주시면 빠른 도움을 드리겠습니다. 감사합니다.</a></p>
                        <div class="d-flex mb-4">
                            <div class="flex-shrink-0 btn-square rounded-circle bg-primary text-white">
                                <i class="fa fa-phone-alt"></i>
                            </div>
                            <div class="ms-3">
                                <p class="mb-2">전화번호</p>
                                <h5 class="mb-0">+010 1234 5678</h5>
                            </div>
                        </div>
                        <div class="d-flex mb-4">
                            <div class="flex-shrink-0 btn-square rounded-circle bg-primary text-white">
                                <i class="fa fa-envelope"></i>
                            </div>
                            <div class="ms-3">
                                <p class="mb-2">이메일</p>
                                <h5 class="mb-0">aivle07@gmail.com</h5>
                            </div>
                        </div>
                        <div class="d-flex mb-0">
                            <div class="flex-shrink-0 btn-square rounded-circle bg-primary text-white">
                                <i class="fa fa-map-marker-alt"></i>
                            </div>
                            <div class="ms-3">
                                <p class="mb-2">위치</p>
                                <h5 class="mb-0">경기 성남시 분당구 불정로 90</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
                        <form>
                            <div class="row g-3">
                                <div class="col-md-6">
                                    <div class="form-floating">
                                        <input type="text" class="form-control" id="name" placeholder="Your Name">
                                        <label for="name">성명</label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-floating">
                                        <input type="email" class="form-control" id="email" placeholder="Your Email">
                                        <label for="email">@gmail.com</label>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-floating">
                                        <input type="text" class="form-control" id="subject" placeholder="Subject">
                                        <label for="subject">제목</label>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-floating">
                                        <textarea class="form-control" placeholder="Leave a message here" id="message" style="height: 150px"></textarea>
                                        <label for="message">내용</label>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <button class="btn btn-primary rounded-pill py-3 px-5" type="submit">메세지 보내기</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- Contact End -->
        

        <!-- Footer Start -->
        <div class="container-fluid bg-dark text-body footer wow fadeIn" data-wow-delay="0.1s">
            <div class="container py-5 px-lg-5">
                <div class="row g-5">
                    <div class="col-md-6 col-lg-3">
                        <p class="section-title text-white h5 mb-4">주소<span></span></p>
                        <p><i class="fa fa-map-marker-alt me-3"></i>경기 성남시 분당구 불정로 90</p>
                        <p><i class="fa fa-phone-alt me-3"></i>+010 1234 5678</p>
                        <p><i class="fa fa-envelope me-3"></i>aivle07@gmail.com</p>
                        <div class="d-flex pt-2">
                            <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-instagram"></i></a>
                            <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3">
                        <p class="section-title text-white h5 mb-4">빠른 검색<span></span></p>
                        <a class="btn btn-link" href="">메인</a>
                        <a class="btn btn-link" href="">서비스 소개</a>
                        <a class="btn btn-link" href="">요약서비스</a>
                        <a class="btn btn-link" href="">금융퀴즈</a>
                        <a class="btn btn-link" href="">모의 투자</a>
                        <a class="btn btn-link" href="">게시판</a>
                    </div>
                    <div class="col-md-6 col-lg-3">
                        <p class="section-title text-white h5 mb-4">(주)우상상플러스<span></span></p>
                        <a class="btn btn-link" href="">소개</a>
                        <a class="btn btn-link" href="">업적</a>
                        <a class="btn btn-link" href="">전략</a>
                        <a class="btn btn-link" href="">역사</a>
                        <a class="btn btn-link" href="">오시는길</a>
                    </div>
                    <div class="col-md-6 col-lg-3">
                        <p class="section-title text-white h5 mb-4">뉴스레터<span></span></p>
                        <p>AI가 설명해주는 금융 정보 요약 서비스를 받고 싶으면 이메일을 입력하세요</p>
                        <div class="position-relative w-100 mt-3">
                            <input class="form-control border-0 rounded-pill w-100 ps-4 pe-5" type="text" placeholder="이메일 입력하세요" style="height: 48px;">
                            <button type="button" class="btn shadow-none position-absolute top-0 end-0 mt-1 me-2"><i class="fa fa-paper-plane text-primary fs-4"></i></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container px-lg-5">
                <div class="copyright">
                    <div class="row">
                        <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                            &copy; <a class="border-bottom" href="#">(주)우상상플러스</a>, COPYRIGHTS 우상상플러스. ALL RIGHTS RESERVED.      
							
							<!--/*** This template is free as long as you keep the footer author’s credit link/attribution link/backlink. If you'd like to use the template without the footer author’s credit link/attribution link/backlink, you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". Thank you for your support. ***/-->
                            <br>
                              <a class="border-bottom" href="/private">|개인정보 처리방침|</a>
                              <a class="border-bottom" href="/private2">이용약관|</a>
                        </div>
                        <div class="col-md-6 text-center text-md-end">
                            <div class="footer-menu">
                                <a href="">메인</a>
                                <a href="">ARS안내</a>
                                <a href="">고객센터</a>
                                <a href="">질문 및 답변</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer End -->


        <!-- Back to Top -->
        <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
    </div>

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{% static 'lib/wow/wow.min.js' %}"></script>
    <script src="{% static 'lib/easing/easing.min.js' %}"></script>
    <script src="{% static 'lib/waypoints/waypoints.min.js' %}"></script>
    <script src="{% static 'lib/counterup/counterup.min.js' %}"></script>
    <script src="{% static 'lib/owlcarousel/owl.carousel.min.js' %}"></script>

    <!-- Template Javascript -->
    <script src="{% static 'js/main.js' %}"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var usernameElement = document.getElementById('{{user.name}}');
            if (usernameElement) {
                var fullname = usernameElement.textContent.trim();
                var maskedName = fullname.substring(0, fullname.length - 1) + '*';
                usernameElement.textContent = maskedName + '님 반갑습니다.';
            }
        });
    </script>
    

    
</body>


</html>


{% comment %} {% if not user.is_authenticated %}
                        <li><a href="/accounts/signup">회원 가입 </a> </li>
                        <li><a href="/accounts/login?next={{request.path}}">로그인</a></li>
                    {% else %}
                        <li><a href="#">{{user.username}}</a></li>
                        <li><a href="#">프로필</a> </li> 
                        <li><a href="/accounts/logout?next={{request.path}}">로그 아웃</a></li>
                        <!--?next={{request.path}}는 현재 path값을 같이 넘겨주어서 로그아웃 한 다음 현재 path로 리다이렉트된다.-->
                        <li><a href="{% url 'quiz:quiz-list' %}">퀴즈</a></li>
                    {% endif %} {% endcomment %}
